/* Toggle Styles */
// Main Wrapper
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow-x: hidden;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #414B52;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow-x: hidden;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

// page content wrapper
#page-content-wrapper {
  position: absolute;
  padding: 15px;
  overflow-x: hidden;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  overflow-x: hidden;
}

/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  li a {
    display: block;
    text-decoration: none;
    padding-left: 32px;
    transition: 0.3s;
    margin: 20px auto;
    font-size: 18px;
    color: #fff;
  }
}

.sidebar-nav .sidebar-brand {
  margin: 120px 0 80px 0;
}

.sidebar-nav a:hover {
  // color: #f1f1f1;
  color: #818181;

}

/* Desktop View + side nav breakpoint*/
@media only screen and (min-width: 1200px){
    #wrapper {
        padding-left: 250px;
        overflow-x: hidden;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 30px 30px;
        position: relative;
        overflow-x: hidden
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* mobile */

  #page-content-wrapper #menu-toggle {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 15px;
    margin: 15px auto;
    // position: absolute;
    // top: 0px;
    // right: -60px;
    cursor: pointer;
    // font-size: 30px;
    span {
      height: 2px;
      background: #111;
      margin-bottom: 5px;
      display: block;
    }
  }
