body {
  font-family: 'Poppins', sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 16px;

  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin: 20px auto;
    font-size: 18px;
    &:hover{
      color: #f1f1f1;
    }
  }
}

.content-wrapper {
    transition: margin-left .5s; // animation
    padding: 16px;
    margin-left: 250px;
}

.offcanvas {
  width: 250px;
}

// Toggled
// hidden sideNav
.hideSidenav {
  width: 0 ;
}
// wrapper no margin
// .content-wrapper.wrapper-no_margin
.wrapper-no_margin {
  margin-left: 0;
}
.hamburger-button {
  font-size: 30px;
  cursor:pointer;
  // display: none;
}

// Media breakpoint hide sidenav on 991 width
@media only screen and (max-width:991px){
  .content-wrapper {
    margin-left:0;
  }
  .offcanvas {
    width: 0;
  }
  .hamburger-button {
    display: block;
  }
}
